@font-face {
  font-family: 'adobe-kaiti-std';
  src: local('adobe-kaiti-std'), url(./Adobe-Kaiti-Std-Font.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'adobe-kaiti-std', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
